/* 0)Genéral */
img{
    width: 100%;
}
body{
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* 0.0)Header */
h1{
    text-align: center;
    margin: 20px 0 0 0;
}
.sousTitre{
    text-align: center;
}
.blackBg{
    background-color: black;
    color: white;
    padding: 2px;
}
/* 0.1)Main */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 4.3% 0 3.6%;
}
p{
    font-size: 14px;
    line-height :16px;

}
h2{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.shadow{
    box-shadow: 0px 0px 10px grey;
    margin: 35px 5px;
    width: 100%;
    background-color: white;
}
.top{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}
.greyBg{
    background-color: rgb(241, 241, 241);
}
.top h2{
    font-size: 18px;
}
.text{
    padding: 12px;
}
.mCentre{
    max-width: 65%;
    min-width: 270px;
    margin: 0 0px;
}
.mDroit{
    max-width: 30.7%;
    min-width: 270px; 
    margin: 0 0px;
}
/* 0.1.0) Main centre mCentre*/
.date{
    color: grey;
}
.RDC{
    display: flex;
    justify-content: space-between;
}
.readMore{
    border: rgb(231, 231, 231) 1px solid;
    padding: 10px 15px;
}
.nbcomments{
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
}
.mclorem{
    margin: 25px 0;
    line-height: 19px;
    font-size: 13px;
}
/* 0.1.1) Main Droit mDroit */
/* 0.1.1.0) Avatar */
/* 0.1.1.1) Popular Posts pop*/
.pop h2{
    padding: 5px;
}
.pop img{
    width: 45px;
    height: 45px;
}
.popCell{
    height: 66px;
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    align-items: center;
    background-color: white;
    border: rgb(231, 231, 231) 1px solid;
}
.popcelltxt div h3,p{
    margin: 0;
    padding: 0;
}
.popCell div{
    margin: 0 5px;
}
/* 0.1.1.2) Popular Posts pop*/
.tagBox{
    width: 100%;
    background-color: white;
    padding: 20px 0px;
    line-height: 32px;
    font-size: 10px;
}
.tagBox div{
    margin: 0 10px;
}
.tagBox span{
    margin: 10px 2px;
    padding: 2px 5px;
    background-color: grey;
}

/* 0.2)Footer */
footer{
display: flex;
flex-direction: column;
justify-content: space-around;
background-color:rgb(97, 97, 97);
height: 180px;
color: white;
padding: 20px;
font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
}
button{
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 1px;
    padding: 15px;
}